In [ ]:
CREATE DATABASE Elwyn_Shop;

 Drop database Elwyn_Shop
-- SELECT * FROM Admin
-- SELECT * FROM Users
-- SELECT * FROM Support
-- SELECT * FROM Category
-- SELECT * FROM Product
-- SELECT * FROM Order_product
-- SELECT * FROM Orders

CREATE TABLE Admin (
    admin_ID INT PRIMARY KEY,
    username VARCHAR(30),
    password VARCHAR(50),
    name VARCHAR(100),
    email VARCHAR(100)
)

CREATE TABLE Users (
    user_ID INT PRIMARY KEY,
    username VARCHAR(30),
    password VARCHAR(50),
    phone VARCHAR(20),
    name VARCHAR(100),
    email VARCHAR(100)
)

CREATE TABLE Support (
    support_ID INT PRIMARY KEY,
    admin_ID INT FOREIGN KEY REFERENCES Admin(admin_ID),
    user_ID INT FOREIGN KEY REFERENCES Users(user_ID),
    details VARCHAR(300),
    dates DATE
)

CREATE TABLE Category (
    category_ID INT PRIMARY KEY ,
    name VARCHAR(100)
) 

CREATE TABLE Product (
    product_ID INT PRIMARY KEY ,
    category_ID INT FOREIGN KEY REFERENCES Category(category_ID),
    gender VARCHAR(50),
    price INT,
    short_details VARCHAR(100),
    long_details VARCHAR(500),
    images_path VARCHAR(500),
    publish_date DATE,
    quantity INT,
    name VARCHAR(100) 
)

CREATE TABLE Orders (
    order_ID INT PRIMARY KEY,
    user_ID INT FOREIGN KEY REFERENCES Users(user_ID),
    date DATE,
    total_amount INT,
    payment_method VARCHAR(100)
)

CREATE TABLE Order_product (
    order_ID INT FOREIGN KEY REFERENCES Orders(order_ID),
    product_ID INT FOREIGN KEY REFERENCES Product(product_ID)
)


--Danh cho Women
insert into Product(product_ID,category_ID,gender,price,short_details,long_details,images_path,publish_date,quantity,name)
values 
	(1,6,'female',100,'','','view\images\Women\Croptop\Croptop1.jpg','03/03/2022',50,'Croptop_1'),
	(2,6,'female',250,'','','view\images\Women\Croptop\Croptop2.jpg','03/03/2022',50,'Croptop_2'),
	(3,6,'female',300,'','','view\images\Women\Croptop\Croptop3tim.jpg','03/03/2022',50,'Croptop_3tim'),
	(4,6,'female',400,'','','view\images\Women\Croptop\Croptop3vang.jpg','03/03/2022',50,'Croptop_3vang'),
	(5,6,'female',100,'','','view\images\Women\Croptop\Croptop3xanhlam.jpg','03/03/2022',50,'Croptop_3xanhla'),
	(6,5,'female',150,'','','view\images\Women\Hoodies\hoodie1_be.jpg','03/03/2022',50,'Hoodie_1_be'),
	(7,5,'female',120,'','','view\images\Women\Hoodies\hoodie1_den.jpg','03/03/2022',50,'Hoodie_1_den'),
	(8,5,'female',110,'','','view\images\Women\Hoodies\hoodie1_xam.jpg','03/03/2022',50,'Hoodie_1_xam'),
	(9,5,'female',600,'','','view\images\Women\Hoodies\hoodie2.jpg','03/03/2022',50,'Hoodie_2'),
	(10,5,'female',80,'','','view\images\Women\Hoodies\hoodie3.jpg','03/03/2022',50,'Hoodie_3'),
	(11,4,'female',100,'','','view\images\Women\Jacket\jacket1.jpg','03/03/2022',50,'Jacket_1'),
	(12,4,'female',100,'','','view\images\Women\Jacket\jacket2.jpg','03/03/2022',50,'Jacket_2'),
	(13,4,'female',100,'','','view\images\Women\Jacket\jacket3.jpg','03/03/2022',50,'Jacket_3'),
	(14,1,'female',100,'','','view\images\Women\Shirt\shirt1_trang.jpg','03/03/2022',50,'Shirt_1_trang'),
	(15,1,'female',100,'','','view\images\Women\Shirt\shirt1_xanh.jpg','03/03/2022',50,'Shirt_1_xanh'),
	(16,1,'female',100,'','','view\images\Women\Shirt\shirt2_tim.jpg','03/03/2022',50,'Shirt_2_tim'),
	(17,1,'female',100,'','','view\images\Women\Shirt\shirt2_trang.jpg','03/03/2022',50,'Shirt_2_trang');
	

--Danh cho Men
insert into Product(product_ID,category_ID,gender,price,short_details,long_details,images_path,publish_date,quantity,name)
values 
	(18,5,'male',100,'','','view\images\Men\Hoodie\hoodie_nam_1.jpg','03/03/2022',50,'Hoodie_nam_1'),
	(19,5,'male',100,'','','view\images\Men\Hoodie\hoodie_nam_2.jpg','03/03/2022',50,'Hoodie_nam_2'),
	(20,5,'male',100,'','','view\images\Men\Hoodie\hoodie_nam_3.jpg','03/03/2022',50,'Hoodie_nam_3'),
	(21,4,'male',100,'','','view\images\Men\Jacket\jacket_nam_1.jpg','03/03/2022',50,'jacket_nam_1'),
	(22,4,'male',100,'','','view\images\Men\Jacket\jacket_nam_2.jpg','03/03/2022',50,'jacket_nam_2'),
	(23,4,'male',100,'','','view\images\Men\Jacket\jacket_nam_3.jpg','03/03/2022',50,'jacket_nam_3'),
	(24,4,'male',100,'','','view\images\Men\Jacket\jacket_nam_4.jpg','03/03/2022',50,'jacket_nam_4'),
	(25,4,'male',100,'','','view\images\Men\Jacket\jacket_nam_5.jpg','03/03/2022',50,'jacket_nam_5'),
	(26,1,'male',100,'','','view\images\Men\Shirt\Shirt_nam_1.jpg','03/03/2022',50,'shirt_nam_1'),
	(27,1,'male',100,'','','view\images\Men\Shirt\Shirt_nam_2.jpg','03/03/2022',50,'shirt_nam_2'),
	(28,1,'male',100,'','','view\images\Men\Shirt\Shirt_nam_3.jpg','03/03/2022',50,'shirt_nam_3'),
	(29,1,'male',100,'','','view\images\Men\Shirt\Shirt_nam_4.jpg','03/03/2022',50,'shirt_nam_4');

--Danh cho Kid
insert into Product(product_ID,category_ID,gender,price,short_details,long_details,images_path,publish_date,quantity,name)
values 
	(30,3,'boy',100,'','','view\images\Kid\Boy\Pant\Pant_boy_1.jpg','03/03/2022',50,'Pant_boy_1'),
	(31,3,'boy',100,'','','view\images\Kid\Boy\Pant\Pant_boy_2.jpg','03/03/2022',50,'Pant_boy_2'),
	(32,3,'boy',100,'','','view\images\Kid\Boy\Pant\Pant_boy_3.jpg','03/03/2022',50,'Pant_boy_3'),
	(33,3,'boy',100,'','','view\images\Kid\Boy\Pant\Pant_boy_4.jpg','03/03/2022',50,'Pant_boy_4'),
	(34,1,'boy',100,'','','view\images\Kid\Boy\Shirt\Shirt_boy_1.jpg','03/03/2022',50,'Shirt_boy_1'),
	(35,1,'boy',100,'','','view\images\Kid\Boy\Shirt\Shirt_boy_2.jpg','03/03/2022',50,'Shirt_boy_2'),
	(36,1,'boy',100,'','','view\images\Kid\Boy\Shirt\Shirt_boy_3.jpg','03/03/2022',50,'Shirt_boy_3'),
	(37,1,'boy',100,'','','view\images\Kid\Boy\Shirt\Shirt_boy_4.jpg','03/03/2022',50,'Shirt_boy_4'),
	(38,1,'boy',100,'','','view\images\Kid\Boy\Shirt\Shirt_boy_5.jpg','03/03/2022',50,'Shirt_boy_5'),
	(39,2,'girl',100,'','','view\images\Kid\Girl\Dress\Dress_1.jpg','03/03/2022',50,'Dress_1'),
	(40,2,'girl',100,'','','view\images\Kid\Girl\Dress\Dress_2.jpg','03/03/2022',50,'Dress_2'),
	(41,2,'girl',100,'','','view\images\Kid\Girl\Dress\Dress_3.jpg','03/03/2022',50,'Dress_3'),
	(42,2,'girl',100,'','','view\images\Kid\Girl\Dress\Dress_4.jpg','03/03/2022',50,'Dress_4'),
	(43,2,'girl',100,'','','view\images\Kid\Girl\Dress\Dress_5.jpg','03/03/2022',50,'Dress_5'),
	(44,2,'girl',100,'','','view\images\Kid\Girl\Dress\Dress_6.jpg','03/03/2022',50,'Dress_6'),
	(45,3,'girl',100,'','','view\images\Kid\Girl\Pant\Pant_1.jpg','03/03/2022',50,'Pant_1'),
	(46,3,'girl',100,'','','view\images\Kid\Girl\Pant\Pant_2.jpg','03/03/2022',50,'Pant_2'),
	(47,3,'girl',100,'','','view\images\Kid\Girl\Pant\Pant_3.jpg','03/03/2022',50,'Pant_3'),
	(48,3,'girl',100,'','','view\images\Kid\Girl\Pant\Pant_4.jpg','03/03/2022',50,'Pant_4'),
	(49,7,'girl',100,'','','view\images\Kid\Girl\Pant\Pant_5_compo.jpg','03/03/2022',50,'Pant_5_compo'),
	(50,7,'girl',100,'','','view\images\Kid\Girl\Pant\Pant_6_compo.jpg','03/03/2022',50,'Pant_6_compo');


--Category
	insert into Category (category_ID,name)
	values
		(1,'shirt'),
		(2,'dress'),
		(3,'pant'),
		(4,'jacket'),
		(5,'hoodie'),
		(6,'croptop'),
		(7,'combo');


            -- phần test của Bình, Vui lòng đừng xóa, thank you :))
-- Support
	INSERT INTO Support (support_ID, user_ID, details, admin_ID, dates)
    VALUES(1, 1, 'GOOD SERVICE', 1, GETDATE())
    SELECT * FROM Support
    SELECT support_ID, user_ID, details, admin_ID, dates FROM Support

-- Admin
    INSERT INTO Admin(admin_ID, username, password, name, email)
    VALUES (1, 'admin', '1', 'Vien Quoc Binh', 'binhvqse161554@fpt.edu.vn')

-- User
    INSERT INTO Users(user_ID, username, password, phone, name, email)
    VALUES (1, 'user', 2, '0909090909', 'user 1', 'user1@gmail.com')

In [8]:
 
 SELECT s.support_ID, s.user_ID,s.details, s.admin_ID, s.dates, u.username, u.[password], u.email, u.name, u.phone
 FROM Support s
 JOIN Users u ON u.user_ID = s.user_ID

support_ID,user_ID,details,admin_ID,dates,username,password,email,name,phone
1,1,GOOD SERVICE,1,2022-03-05,user,2,user1@gmail.com,user 1,0909090909

In [19]:
SELECT s.support_ID, s.user_ID, s.details, s.admin_ID, s.dates, u.username, u.[password], u.email, u.name, u.phone
FROM Support s
JOIN Users u ON u.user_ID = s.user_ID
WHERE u.name LIKE '1' OR u.email LIKE 'com'  OR phone LIKE '0909090909'

support_ID,user_ID,details,admin_ID,dates,username,password,email,name,phone
1,1,GOOD SERVICE,1,2022-03-05,user,2,user1@gmail.com,user 1,0909090909